<p>
  Greetings <b><%=fullname%></b>,
</p>
<p>
  We received a request to reset your password for the Listco account <b><%=email%></b>
</p>
<p>
  This is link in order to change password <b><%=link%></b>. Please note that this code will expire in <%=hours%> hours
  from when
  this email is sent
</p>
<p>
  Sincerely,
  <br />
  The <b>Listco</b> Team.
</p>