<p>
  Greetings <b><%=fullname%></b>,
</p <p>
This is OTP Code: <b><%=otp%></b> in order to verify. Please note that this code will expire in <%=hours%>
hours
from when
this email is sent
</p>
<p>
  Sincerely,
  <br />
  The <b>Listco</b> Team.
</p>