<img src="https://wallet.moonstake.io/images/moonstake/moon-logo.png" alt="moonstake logo">
<img src="https://wallet.moonstake.io/images/moonstake/key-visual.png" alt="" style="margin-bottom: 26px">
<p>Hi!</p>
<p style="margin-bottom: 32px;">$_=email_$ is inviting you to join Moonstake, to stake your coins and to also become a
  gold member!</p>
<p>Click the following button to join Moonstake. <br />If you already have an account, click the following button to use
  your friend’s referral code.</p>
<a target="_blank" href="$_=link_$"
  style="background: rgb(0,224,147); background: -moz-radial-gradient(100% 987.76% at 3.41% 100%, #007CFF 0.27%, #00E093 100%);; background: -webkit-radial-gradient(100% 987.76% at 3.41% 100%, #007CFF 0.27%, #00E093 100%);; background: radial-gradient(100% 987.76% at 3.41% 100%, #007CFF 0.27%, #00E093 100%);;border:1px solid #00ABCD;border-radius:8px;-webkit-border-radius: 8px; -moz-border-radius: 8px; color:#ffffff;font-family: 'Montserrat', sans-serif;font-size: 14px; font-weight: 600; letter-spacing: 0; line-height: 17px; margin: 18px 0 0 0; padding: 13px 18px; display:inline-block; text-align:center; text-decoration:none; -webkit-text-size-adjust:none;mso-hide:all;">
  Sign-up Now
</a>
<p style="margin-top: 44px;color:#000;font-size: 15px;list-style: 23px;text-align: center;">
  $_=email_$’s referral code
</p>
<p style="color:#0D89FF; font-weight: 600;margin-bottom: 32px; font-size: 15px;">$_=referralCode_$</p>
<p style="color:#000; margin-bottom: 32px; font-size: 15px;">
  If the button above doesn't work, please use this link. <br>
  <a target="_blank" href="$_=link_$">$_=link_$</a>

</p>
<p style="color:#000; margin-bottom: 26px; font-size: 15px;">
  Or you can manually sign-up by going to <a href="https://wallet.moonstake.io/">wallet.moonstake.io</a> <br> and
  entering the above referral code.

</p>
<th style="font-size: 12px; line-height: 15px; color:#000; font-weight: normal; text-align: left;">Download our app and
  start staking</th>
<th style="font-size: 12px; line-height: 15px; color:#000; font-weight: normal; text-align: left;">Manage your stakes
  via your browser</th>
  <a target="_blank" href="https://apps.apple.com/us/app/moonstake-wallet/id1502532651">
    <img width="124px" height="40px" src="https://wallet.moonstake.io/images/moonstake/app-store.jpg" alt="download app store">
</a>
<a target="_blank" href="https://play.google.com/store/apps/details?id=io.moonstake.wallet">
  <img width="124px" height="40px" src="https://wallet.moonstake.io/images/moonstake/google-play.jpg" alt="download google play">
</a>
<a target="_blank" style="color:#fff;" href="https://wallet.moonstake.io/">WEB WALLET</a>
  