<img src="https://wallet.moonstake.io/images/moonstake/moon-logo.png" alt="">
<img src="https://wallet.moonstake.io/images/moonstake/moon-confirm.png" alt="" style="margin-bottom: 20px">
<p style="font-size: 18px;font-weight: 500;margin-bottom: 15px; line-height: 30px; color: #182850">
  Verify your email address
</p>
<p style="margin-bottom: 3px">Help us secure your Moonstake account.</p>
<p style="margin-bottom: 3px">Please click the button below within 24 hours</p>
<p style="margin-bottom: 3px;">to confirm your email address.</p>
<a href="$_=link_$"
  style="background: rgb(0,224,147); background: -moz-linear-gradient(45deg, rgba(0,224,147,1) 0%, rgba(0,124,255,1) 100%); background: -webkit-linear-gradient(45deg, rgba(0,224,147,1) 0%, rgba(0,124,255,1) 100%); background: linear-gradient(45deg, rgba(0,224,147,1) 0%, rgba(0,124,255,1) 100%);border:1px solid #00ABCD;border-radius:8px;-webkit-border-radius: 8px; -moz-border-radius: 8px; color:#ffffff;font-family: 'Montserrat', sans-serif;font-size: 14px; font-weight: 600; letter-spacing: 0; line-height: 18px; margin: 18px 0 0 0; padding: 13px 18px; display:inline-block; text-align:center; text-decoration:none; -webkit-text-size-adjust:none;mso-hide:all;">Verify
  email</a>
<p style="margin-top: 18px;">If you did not create an account using this address,
</p>
<p>please ignore this
  email.
</p>